.editorconfig
.gitattributes
.github
.gitignore
.gitlab-ci.yml
.idea
.pre-commit-config.yaml
.readthedocs.yml
.travis.yml
.git

# ignore local python environments
venv
.venv

# prevent large backup files from being copied into the image
/backups
*.sql
*.gz
