{% extends "layouts/base_auth.html" %}
{% load i18n %}
{% load account socialaccount %}
{% load crispy_forms_tags %}
{% block title %}
  {% translate "Sign In" %}
{% endblock %}
{% block content %}
  <div class="row login">
    <div class="login-card-wrapper">
      <div class="card login-card">
        <div>
          <h4 class="card-title login-title">Login To Your Account</h4>
        </div>
        <div >
          <!-- <h6 class="card-category">
            {% if msg %}
              <span class="alert-danger danger-message">{{ msg | safe }}</span>
            {% endif %}
          </h6> -->
          <form class="login" method="POST" action="{% url 'account_login' %}">
            {% csrf_token %}
            {{ form|crispy }}
            {% if redirect_field_value %}
              <input type="hidden"
                     name="{{ redirect_field_name }}"
                     value="{{ redirect_field_value }}" />
            {% endif %}
            <button class="login-button" type="submit">{% translate "Log In" %}</button>
          </form>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
