{% extends "layouts/base_auth.html" %}

{% load i18n %}
{% load account %}
{% load crispy_forms_tags %}

{% block head_title %}{% translate "Password Reset" %}{% endblock %}

{% block content %}

<div class="row login">
    <div class="login-card-wrapper">
      <div class="card login-card">
        <div class="title-wrapper">
          <h4 class="card-title login-title">Forgot Password</h4>
          <p>Please enter your Email address used during sign up.</p>
        </div>
        <div >
    <form method="POST" action="{% url 'account_login' %}" class="password_reset">
        {% csrf_token %}
        {{ form|crispy }}
        <input class="login-button" type="submit" value="{% translate 'Reset My Password' %}" />
    </form>
          <div class="login-links">
            <p><a href="{% url 'account_signup' %}" class="signin">Sign Up</a></p>
            <p>{% blocktranslate %}<a href="{{ login_url }}">Login</a>{% endblocktranslate %}</p>
          </div>
        </div>
      </div>
    </div>
  </div>

{% endblock %}
