{% extends "layouts/base_auth.html" %}

{% load i18n %}
{% load crispy_forms_tags %}

{% block head_title %}{% translate "Signup" %}{% endblock %}

{% block content %}
<div class="row login">
  <div class="login-card-wrapper">
    <div class="card login-card">
      <div class="title-wrapper">
        <h4 class="card-title login-title">Lets Get Started!</h4>
        <p>Create an account for SDE Indexing Helper</p>
      </div>
      <div >
        <form  id="signup_form" method="post" action="{% url 'account_signup' %}">
          {% csrf_token %}
          {{ form|crispy }}
          {% if redirect_field_value %}
          <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
          {% endif %}
          <button class="login-button" type="submit">{% translate "Create" %} &raquo;</button>
        </form>
        <div class="login-links">
          <p>{% blocktranslate %} <a href="{{ login_url }}">Already have an account? Login Here</a>{% endblocktranslate %}</p>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
