{% extends "layouts/base.html" %}
{% load static i18n %}
{% load humanize %}
{% block title %}
{{ collection.name }} Candidate URLs
{% endblock title %}
{% block stylesheets %}
    {{ block.super }}
    <link href="//cdn.datatables.net/v/bs4/jszip-3.10.1/dt-2.0.5/af-2.7.0/b-3.0.2/b-colvis-3.0.2/b-html5-3.0.2/b-print-3.0.2/cr-2.0.1/fc-5.0.0/fh-4.0.1/kt-2.12.0/r-3.0.2/rg-1.5.0/rr-1.5.0/sc-2.4.1/sp-2.3.1/sl-2.0.1/datatables.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/candidate_url_list.css' %}" />
{% endblock stylesheets %}
{% block javascripts %}
    {{ block.super }}
    <script>var collection_id = "{{ collection.id }}";</script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/pdfmake/0.2.7/pdfmake.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/pdfmake/0.2.7/vfs_fonts.js"></script>
    <script src="https://cdn.datatables.net/v/bs4/jszip-3.10.1/dt-2.0.5/af-2.7.0/b-3.0.2/b-colvis-3.0.2/b-html5-3.0.2/b-print-3.0.2/cr-2.0.1/fc-5.0.0/fh-4.0.1/kt-2.12.0/r-3.0.2/rg-1.5.0/rr-1.5.0/sc-2.4.1/sp-2.3.1/sl-2.0.1/datatables.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery.blockUI/2.70/jquery.blockUI.min.js"></script>
    <script src="//cdn.datatables.net/plug-ins/2.0.5/pagination/input.js"></script>
    <script src="{% static 'js/candidate_url_list.js' %}"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
{% endblock javascripts %}
{% block content %}
{% csrf_token %}
<h3>
    {{ candidate_urls.count|intcomma }} Candidate URLs for <a
        href="{% url 'sde_collections:detail' collection.pk %}"><strong>{{ collection.name }}</strong></a>
        <div class="btn badge {{ collection.workflow_status_button_color }} btn-sm"
        id="workflow-status-badge-{{ collection.id }}"
        aria-expanded="false">{{ collection.get_workflow_status_display }}</div>
    <br>
    <small class="muted">Base URL: <a href="{{ collection.url }}" target="_blank">{{ collection.url }}</a></small>
</h3>

<div>

    <!-- Nav tabs -->
    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="tab-nav active" data-toggle="tab" href="#Candidate-URLs">Candidate URLs</a>
        </li>
        <li class="nav-item">
            <a class="tab-nav" data-toggle="tab" href="#Exclude-Patterns">Exclude Patterns</a>
        </li>
        <li class="nav-item">
            <a class="tab-nav" data-toggle="tab" href="#Include-Patterns">Include Patterns</a>
        </li>
        <li class="nav-item">
            <a class="tab-nav" data-toggle="tab" href="#Title-Patterns">Title Patterns</a>
        </li>
        <li class="nav-item">
            <a class="tab-nav" data-toggle="tab" href="#Document-Type-Patterns">Document Type Patterns</a>
        </li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
        <div class="tab-pane active" id="Candidate-URLs">
            <div class="row pull-right">
                <div class="form-group">
                    <input type="checkbox" id="filter-checkbox">
                    <label for="filter-checkbox">Hide Excluded</label>
                </div>
            </div>
            <table class="table" id="candidate_urls_table" style="width:100%" >
                <thead class="tableHeader">
                    <tr>
                        <th scope="col" class="text-center col-1"><div class="header-title">URL</div></th>
                        <th scope="col" class="text-center col-1"><div class="header-title">Exclude</div></th>
                        <th scope="col" class="text-center col-1"><div class="header-title">Scraped Title</div></th>
                        <th scope="col" class="text-center col-1"><div class="header-title">New Title</div></th>
                        <th scope="col" class="text-center col-1"><div class="header-title">Visited?</div></th>
                        <th scope="col" class="text-center col-1"><div class="header-title">Document Type</div></th>
                        <th scope="col" class="text-center col-1"><div class="header-title">ID</div></th>
                    </tr>
                    <tr>
                        <td ><input type="text" class="table_filter_row_input textBoxStyling" id="candidateUrlFilter" placeholder="URL" /></td>
                        <td ><select class="dropdown-1 select-dropdown selectStyling"><option value="">SELECT</option>
                            <option value="false">FALSE</option>
                            <option value="true">TRUE</option>
                        </select></td>
                        <td ><input type="text" class="table_filter_row_input textBoxStyling" id="candidateScrapedTitleFilter" placeholder="Scraped Title" /></td>
                        <td ><input type="text" class="table_filter_row_input textBoxStyling" id="candidateNewTitleFilter" placeholder="New Title" /></td>
                        <td><select class="dropdown-4 select-dropdown selectStyling">
                            <option value="">SELECT</option>
                            <option value="false">FALSE</option>
                            <option value="true">TRUE</option>
                        </select></td>
                        <td><select class="dropdown-5 select-dropdown selectStyling"><option value="">SELECT</option>
                        <option value="0">None</option>
                        <option value="1">Images</option>
                        <option value="2">Data</option>
                        <option value="3">Documentation</option>
                        <option value="4">Software and Tools</option>
                        <option value="5">Missions and Instruments</option>
                        <option value="6">Training and Education</option>
                        </select></td>
                        <td ></td>
                    </tr>
                </thead>
            </table>
        </div>
        <div class="tab-pane fade" id="Exclude-Patterns">
            <hr>
            <h3>
                Exclude Patterns
                <button class="btn btn-primary btn-sm create_exclude_pattern_button">
                    Add Pattern
                </button>
            </h3>
            <table class="table" id="exclude_patterns_table" style="width:100%">
                <thead class="tableHeader">
                    <tr>
                        <th scope="col" class="text-center col-1"><strong>Match Pattern</strong></th>
                        <th scope="col" class="text-center col-1"><strong>Match Pattern Type</strong></th>
                        <th scope="col" class="text-center col-1"><strong>Reason</strong></th>
                        <th scope="col" class="text-center col-1"><strong>Affected URLs</strong></th>
                        <th scope="col" class="text-center col-1"><strong>Actions</strong></th>
                        <th scope="col" class="text-center col-1"><strong>ID</strong></th>
                    </tr>
                    <tr>
                        <td ><input type="text" class="table_filter_row_input textBoxStyling" id="candidateMatchPatternFilter" placeholder="Match Pattern" /></td>
                        <td > <select id="exclude-patterns-dropdown-1" class="select-dropdown selectStyling"><option value="">SELECT</option>
                            <option value="Individual URL Pattern">Individual URL Pattern</option>
                            <option value="Multi-URL Pattern">Multi-URL Pattern</option>
                        </select>
                            <td ><input type="text" class="table_filter_row_input textBoxStyling" id="candidateReasonFilter" placeholder="Reason" /></td>
                        <td ></td>
                        <td ></td>
                        <td ></td>
                    </tr>
                </thead>
            </table>
            <hr>
        </div>

        <div class="tab-pane fade" id="Include-Patterns">
            <h3>
                Include Patterns
                <button class="btn btn-primary btn-sm create_include_pattern_button">
                    Add Pattern
                </button>
            </h3>
            <table class="table" id="include_patterns_table" style="width:100%">
                <thead class="tableHeader">
                    <tr>
                        <th scope="col" class="text-center col-1">
                            <strong>Match Pattern</strong>
                        </th>
                        <th scope="col" class="text-center col-1">
                            <strong>Match Pattern Type</strong>
                        </th>
                        <th scope="col" class="text-center col-1">
                            <strong>Affected URLs</strong>
                        </th>
                        <th scope="col" class="text-center col-1">
                            <strong>Actions</strong>
                        </th>
                        <th scope="col" class="text-center col-1">
                            <strong>ID</strong>
                        </th>
                    </tr>
                    <tr>
                        <td ><input type="text" class="table_filter_row_input textBoxStyling" id="candidateIncludeMatchPatternFilter" placeholder="Match Pattern" /></td>
                        <td > <select id="include-patterns-dropdown-1" class="select-dropdown selectStyling"><option value="">SELECT</option>
                            <option value="Individual URL Pattern">Individual URL Pattern</option>
                            <option value="Multi-URL Pattern">Multi-URL Pattern</option>
                        </select></td>
                        <td ></td>
                        <td ></td>
                        <td ></td>
                    </tr>
                </thead>
            </table>

        </div>
        <div class="tab-pane fade" id="Title-Patterns">
            <hr>
            <h3>
                Title Patterns
                <button class="btn btn-primary btn-sm create_title_pattern_button">
                    Add Pattern
                </button>
            </h3>
            <table class="table" id="title_patterns_table" style="width:100%">
                <thead class="tableHeader">
                    <tr>
                        <th scope="col" class="text-center col-1">
                            <strong>Match Pattern</strong>
                        </th>
                        <th scope="col" class="text-center col-1">
                            <strong>Match Pattern Type</strong>
                        </th>
                        <th scope="col" class="text-center col-1">
                            <strong>Title Pattern</strong>
                        </th>
                        <th scope="col" class="text-center col-1">
                            <strong>Affected URLs</strong>
                        </th>
                        <th scope="col" class="text-center col-1">
                            <strong>Actions</strong>
                        </th>
                        <th scope="col" class="text-center col-1">
                            <strong>ID</strong>
                        </th>
                    </tr>
                    <tr>
                        <td ><input type="text" class="table_filter_row_input textBoxStyling" id="candidateTitleMatchPatternFilter" placeholder="Match Pattern" /></td>
                        <td > <select id="title-patterns-dropdown-1" class="select-dropdown selectStyling"><option value="">SELECT</option>
                            <option value="Individual URL Pattern">Individual URL Pattern</option>
                            <option value="Multi-URL Pattern">Multi-URL Pattern</option>
                        </select></td>
                        <td ><input type="text" class="table_filter_row_input textBoxStyling" id="candidateTitlePatternTypeFilter" placeholder="Title Pattern" /></td>
                        <td ></td>
                        <td ></td>
                        <td ></td>
                    </tr>
                </thead>
            </table>
        </div>
        <div class="tab-pane fade" id="Document-Type-Patterns">
            <hr>
            <h3>
                Document Type Patterns
                <button class="btn btn-primary btn-sm create_document_type_pattern_button">
                    Add Pattern
                </button>
            </h3>
            <table class="table" id="document_type_patterns_table" style="width:100%">
                <thead class="tableHeader">
                    <tr>
                        <th scope="col" class="text-center col-1">
                            <strong>Match Pattern</strong>
                        </th>
                        <th scope="col" class="text-center col-1">
                            <strong>Match Pattern Type</strong>
                        </th>
                        <th scope="col" class="text-center col-1">
                            <strong>Document Type</strong>
                        </th>
                        <th scope="col" class="text-center col-1">
                            <strong>Affected URLs</strong>
                        </th>
                        <th scope="col" class="text-center col-1">
                            <strong>Actions</strong>
                        </th>
                        <th scope="col" class="text-center col-1">
                            <strong>ID</strong>
                        </th>
                    </tr>
                    <tr>
                        <td ><input type="text" class="table_filter_row_input textBoxStyling" id="candidateDocTypeMatchPatternFilter" placeholder="Match Pattern" /></td>
                        <td ><select id="document-type-patterns-dropdown-1" class="select-dropdown selectStyling"><option value="">SELECT</option>
                            <option value="Individual URL Pattern">Individual URL Pattern</option>
                            <option value="Multi-URL Pattern">Multi-URL Pattern</option>
                        </select></td>
                        <td ><select id="document-type-patterns-dropdown-2" class="select-dropdown selectStyling"><option value="">SELECT</option>
                            <option value="Images">Images</option>
                            <option value="Data">Data</option>
                            <option value="Documentation">Documentation</option>
                            <option value="Software and Tools">Software and Tools</option>
                            <option value="Missions and Instruments">Missions and Instruments</option>
                            <option value="Training and Education">Training and Education</option>
                        </select></td>
                        <td ></td>
                        <td ></td>
                        <td ></td>
                    </tr>
                </thead>
            </table>
        </div>

    </div>
</div>

<br>



<ul class="custom-menu list-group">
    <li data-action="exclude-pattern" class="list-group-item">Create Exclude Pattern</li>
    <li data-action="include-pattern" class="list-group-item">Create Include Pattern</li>
    <li data-action="title-pattern" class="list-group-item">Create Title Pattern</li>
    <li data-action="document-type-pattern" class="list-group-item">Create Document Type Pattern</li>
</ul>
<div class="modal fade" id="excludePatternModal" data-backdrop="static" data-keyboard="false" tabindex="-1"
    aria-labelledby="excludePatternModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="excludePatternModalLabel">Exclude Pattern Form</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form id="exclude_pattern_form">
                <div class="modal-body">
                    <div class="form-group">
                        <label for="match_pattern_input">Match Pattern*</label>
                        <input type="text" class="form-control" id="match_pattern_input" required name="match_pattern">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="modal fade" id="includePatternModal" data-backdrop="static" data-keyboard="false" tabindex="-1"
    aria-labelledby="includePatternModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="includePatternModalLabel">Include Pattern Form</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form id="include_pattern_form">
                <div class="modal-body">
                    <div class="form-group">
                        <label for="match_pattern_input">Match Pattern*</label>
                        <input type="text" class="form-control" id="match_pattern_input" required name="match_pattern">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="modal fade" id="titlePatternModal" data-backdrop="static" data-keyboard="false" tabindex="-1"
    aria-labelledby="titlePatternModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="titlePatternModalLabel">Title Pattern Form</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form id="title_pattern_form">
                <div class="modal-body">
                    <div class="form-group">
                        <label for="match_pattern_input">Match Pattern*</label>
                        <input type="text" class="form-control" id="match_pattern_input" required name="match_pattern">
                    </div>
                    <div class="form-group">
                        <label for="title_pattern_input">Title Pattern*</label>
                        <input type="text" class="form-control" id="title_pattern_input" required name="title_pattern">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="modal fade" id="documentTypePatternModal" data-backdrop="static" data-keyboard="false" tabindex="-1"
    aria-labelledby="documentTypePatternModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="documentTypePatternModalLabel">Document Type Pattern Form</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form id="document_type_pattern_form">
                <div class="modal-body">
                    <div class="form-group">
                        <label for="match_pattern_input">Match Pattern*</label>
                        <input type="text" class="form-control" id="match_pattern_input" required name="match_pattern">
                    </div>
                    <div class="form-group">
                        <div class="input-group">
                            <input type="hidden" name="document_type_pattern" class="form-control"
                                aria-label="Document Type" id="doc_type_input_field">
                            <div class="input-group-append">
                                <button class="btn btn-secondary btn-block dropdown-toggle" type="button"
                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Select Document
                                    Type</button>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item document_type_form_select" value="1">Images</a>
                                    <a class="dropdown-item document_type_form_select" value="2">Data</a>
                                    <a class="dropdown-item document_type_form_select" value="3">Documentation</a>
                                    <a class="dropdown-item document_type_form_select" value="4">Software and Tools</a>
                                    <a class="dropdown-item document_type_form_select" value="5">Missions and
                                        Instruments</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock content %}