{% extends "layouts/base.html" %}
{% load static i18n %}
{% block title %}
    {{ collection.name }} Candidate URLs
{% endblock title %}
{% block stylesheets %}
    {{ block.super }}
    <link rel="stylesheet"
          href="//cdn.datatables.net/1.13.4/css/jquery.dataTables.min.css" />
    <link href="//cdn.datatables.net/v/bs5/dt-1.13.4/af-2.5.3/b-2.3.6/b-colvis-2.3.6/fh-3.3.2/kt-2.9.0/r-2.4.1/rg-1.3.1/sb-1.4.2/sp-2.1.2/datatables.min.css"
          rel="stylesheet" />
    <link rel="stylesheet" href="{% static 'css/candidate_url_list.css' %}" />
{% endblock stylesheets %}
{% block javascripts %}
    {{ block.super }}
    <script>var collection_id = "{{ collection.id }}";</script>
    <script src="//cdn.datatables.net/v/bs5/dt-1.13.4/af-2.5.3/b-2.3.6/b-colvis-2.3.6/fh-3.3.2/kt-2.9.0/r-2.4.1/rg-1.3.1/sb-1.4.2/sp-2.1.2/datatables.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery.blockUI/2.70/jquery.blockUI.min.js"></script>
    <script src="{% static 'js/candidate_url_list.js' %}"></script>
{% endblock javascripts %}
{% block content %}
    {% csrf_token %}
    <h3>
        Showing {{ candidate_urls.count }} Candidate URLs for <strong>{{ collection.name }}</strong>
        <br>
        <small class="muted">Base URL: <a href="{{ collection.url }}" target="_blank">{{ collection.url }}</a></small>
    </h3>
    <table class="table" id="candidate_urls_table">
        <thead>
            <tr>
                <th scope="col" class="text-center col-1">
                    <strong>URL</strong>
                </th>
                <th scope="col" class="text-center col-1">
                    <strong>Exclude</strong>
                </th>
                <th scope="col" class="text-center col-1">
                    <strong>Scraped Title</strong>
                </th>
                <th scope="col" class="text-center col-1">
                    <strong>Generated Title</strong>
                </th>
                <th scope="col" class="text-center col-1">
                    <strong>Visited</strong>
                </th>
                <th scope="col" class="text-center col-1">
                    <strong>ID</strong>
                </th>
            </tr>
        </thead>
    </table>
{% endblock content %}
{% block sidebar %}
    <div class="sidebar"
         data-color="purple"
         data-background-color="white"
         data-image="{% static 'images/sidebar-1.jpg' %}">
        <div class="logo">
            <a rel="noopener noreferrer"
               href="{% url 'sde_collections:list' %}"
               class="simple-text logo-normal">SDE Indexing Helper</a>
        </div>
        <div class="sidebar-wrapper">
            <ul class="nav">
                {% if request.user.is_authenticated %}
                    <div class="col">
                        <h4>
                            <input type="checkbox" value="" id="excluded_bool">
                            Hide Excluded
                        </h4>
                    </div>
                    <hr>
                    <div class="col">
                        <h4>
                            <strong>Exclude Patterns</strong>
                            <button id="add_exclude_pattern" class="btn btn-primary btn-sm">+</button>
                        </h4>
                        <form id="exclude_patterns">
                            {% csrf_token %}
                            {% for pattern in regex_exclude_patterns %}
                                <div class="row pattern_row">
                                    <div class="col-8">
                                        <input class="form-control"
                                               value="{{ pattern }}"
                                               title="{{ pattern }}"
                                               disabled />
                                    </div>
                                    <div class="col">
                                        <button type="button"
                                                class="btn btn-danger btn-sm delete_input"
                                                hx-delete="/api/exclude-patterns/{{ pattern.id }}/"
                                                hx-confirm="Are you sure you wish to delete this pattern?">x</button>
                                    </div>
                                </div>
                            {% endfor %}
                        </form>
                    </div>
                    <hr>
                    <div class="col">
                        <h4>
                            <strong>Title Patterns</strong>
                            <button id="add_exclude_pattern" class="btn btn-sm btn-primary">+</button>
                        </h4>
                    </div>
                {% else %}
                {% endif %}
            </ul>
        </div>
    </div>
{% endblock sidebar %}
