{% extends "layouts/base.html" %}
{% load static %}
{% load i18n %}
{% block title %}Collections{% endblock %}
{% block stylesheets %}
    {{ block.super }}
    <link rel="stylesheet"
          href="//cdn.datatables.net/1.13.4/css/jquery.dataTables.min.css">
    <link rel="stylesheet" href="{% static 'css/collections_list.css' %}">
{% endblock stylesheets %}
{% block content %}
    {% csrf_token %}
    <h2>SDE Collections</h2>
    <table id="collection_table" class="table table-striped">
        <thead>
            <tr>
                <th class="text-center">Name</th>
                <th class="text-center">URL</th>
                <th class="text-center">Division</th>
                <th class="text-center">Candidate URLs</th>
                <th class="text-center">New?</th>
                <th class="text-center">Cleaning Order</th>
                <th class="text-center">Status</th>
                <th class="text-center">Curator</th>
                <th class="text-center">Config Folder</th>
            </tr>
        </thead>
        <tbody>
            {% for collection in collections %}
                <tr>
                    <td>
                        <a href="{% url 'sde_collections:detail' collection.pk %}">{{ collection.name }} <i class="material-icons">chevron_right</i></a>
                    </td>
                    <td>
                        {% if collection.url %}
                            {{ collection.url }}<a target="_blank" href=" {{ collection.url }} "> <i class="material-icons">open_in_new</i></a>
                        {% endif %}
                    </td>
                    <td>{{ collection.get_division_display }}</td>
                    <td>
                        <a href=" {% if collection.num_candidate_urls > 0 %} {% url 'sde_collections:candidate_urls' collection.pk %} {% endif %} "
                           class="btn btn-sm {% if collection.num_candidate_urls > 0 %}btn-primary {% else %}disabled{% endif %}"
                           role="button">{{ collection.num_candidate_urls }}</a>
                    </td>
                    <td>
                        {% if collection.new_collection %}
                            <i class="material-icons" style="color:green;">check</i>
                        {% else %}
                            <i class="material-icons" style="color:red;">close</i>
                        {% endif %}
                    </td>
                    <td>{{ collection.cleaning_order }}</td>
                    <td>
                        <div class="dropdown curation_status_dropdown"
                             data-match-pattern
                             remove_protocol
                             row
                             url>
                            <button class="btn {{ collection.curation_status_button_color }} btn-sm dropdown-toggle"
                                    type="button"
                                    id="dropdownMenuButton"
                                    data-toggle="dropdown"
                                    aria-haspopup="true"
                                    aria-expanded="false">{{ collection.get_curation_status_display }}</button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                {% for choice in curation_status_choices %}
                                    <a class="dropdown-item curation_status_select" href="#" value="{{ choice }}" data-collection-id={{ collection.id }}>{{ choice.label }}</a>
                                {% endfor %}
                            </div>
                        </div>
                    </td>
                    <td>{{ collection.curated_by }}</td>
                    <td>{{ collection.config_folder }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock content %}
{% block javascripts %}
    <script src="//cdn.datatables.net/1.13.4/js/jquery.dataTables.min.js"></script>
    <script src="{% static 'js/collection_list.js' %}"></script>
{% endblock javascripts %}
