{% extends "layouts/base.html" %}
{% load static %}
{% load i18n %}
{% block title %}Collections{% endblock %}
{% block stylesheets %}
    {{ block.super }}
    <link rel="stylesheet"
          href="//cdn.datatables.net/1.13.4/css/jquery.dataTables.min.css">
    <link rel="stylesheet" href="{% static 'css/collections_list.css' %}">
{% endblock stylesheets %}
{% block content %}
    <table id="collection_table" class="table table-striped">
        <thead>
            <tr>
                <th>Name</th>
                <th>URL</th>
                <th>Division</th>
                <th>Candidate URLs</th>
                <th>Turned On</th>
                <th>Source</th>
                <th>New?</th>
                <th>Config Folder</th>
                {% comment %} <th>Actions</th> {% endcomment %}
            </tr>
        </thead>
        <tbody>
            {% for collection in collections %}
                <tr>
                    <td>
                        <a target="_blank"
                           href="{% url 'sde_collections:detail' collection.pk %}">{{ collection.name }}</a>
                    </td>
                    <td>
                        {% if collection.url %}
                            {{ collection.url }}<a target="_blank" href=" {{ collection.url }} "> <i class="material-icons">open_in_new</i></a>
                        {% endif %}
                    </td>
                    <td>{{ collection.get_division_display }}</td>
                    <td>{{ collection.num_candidate_urls }}</td>
                    <td>{{ collection.turned_on }}</td>
                    <td>{{ collection.get_source_display }}</td>
                    <td>{{ collection.new_collection }}</td>
                    <td>{{ collection.config_folder }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock content %}
{% block javascripts %}
    <script src="//cdn.datatables.net/1.13.4/js/jquery.dataTables.min.js"></script>
    <script>
        let table = $('#collection_table').DataTable({
            "bPaginate": false,
            // "columnDefs": [
            //     {
            //         "targets": -1,
            //         "data": null,
            //         "defaultContent": "<button class='btn btn-xs btn-success'>Scrape</button>",
            //     },
            // ],
        });

        // $('#collection_table tbody').on('click', 'button', function () {
        //    var data = table.row($(this).parents('tr')).data();
        //    alert(data[0] + "'s salary is: " + data[5]);
        // });
    </script>
{% endblock javascripts %}
