{% extends "layouts/base.html" %}
{% load static %}
{% load i18n %}
{% block title %}Consolidation between webapp and GitHub{% endblock %}
{% block stylesheets %}
    {{ block.super }}
    <link href="//cdn.datatables.net/v/bs4/jszip-3.10.1/dt-2.0.5/af-2.7.0/b-3.0.2/b-colvis-3.0.2/b-html5-3.0.2/b-print-3.0.2/cr-2.0.1/fc-5.0.0/fh-4.0.1/kt-2.12.0/r-3.0.2/rg-1.5.0/rr-1.5.0/sc-2.4.1/sl-2.0.1/datatables.min.css" rel="stylesheet">
{% endblock stylesheets %}
{% block content %}
    {% csrf_token %}
    <br>
    <h2>Collection metadata differences between Webapp and GitHub<a href="{% url 'sde_collections:consolidate_db_and_github_configs' %}?reindex=true"><button class="btn btn-primary pull-right">Pull latest collection metadata from GitHub</button></a></h2>

    <table id="consolidation_table" class="table table-striped">
        <thead>
            <tr>
                <th class="text-center">Collection</th>
                <th class="text-center">Field</th>
                <th class="text-center">Webapp Value</th>
                <th class="text-center">GitHub Value</th>
                <th class="text-center">Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for difference in differences %}
                <tr>
                    <td>{{ difference.config_folder }}</td>
                    <td>{{ difference.field }}</td>
                    <td>{{ difference.db_value }}</td>
                    <td>{{ difference.github_value }}</td>
                    <td>
                        <form action="{% url 'sde_collections:consolidate_db_and_github_configs' %}" method="post">
                            {% csrf_token %}
                            <input type="hidden" name="config_folder" value="{{ difference.config_folder }}">
                            <input type="hidden" name="field" value="{{ difference.field }}">
                            <input type="hidden" name="db_value" value="{{ difference.db_value }}">
                            <input type="hidden" name="github_value" value="{{ difference.github_value }}">
                            <button class="btn btn-success" type="submit">Replace Webapp value by GitHub value</button>
                        </form>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock content %}
{% block javascripts %}
    <script src="//cdnjs.cloudflare.com/ajax/libs/pdfmake/0.2.7/pdfmake.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/pdfmake/0.2.7/vfs_fonts.js"></script>
    <script src="//cdn.datatables.net/v/bs4/jszip-3.10.1/dt-2.0.5/af-2.7.0/b-3.0.2/b-colvis-3.0.2/b-html5-3.0.2/b-print-3.0.2/cr-2.0.1/fc-5.0.0/fh-4.0.1/kt-2.12.0/r-3.0.2/rg-1.5.0/rr-1.5.0/sc-2.4.1/sl-2.0.1/datatables.min.js"></script>
    <script src="{% static 'js/consolidate_db_and_github_configs.js' %}"></script>
    <script>
        {% if messages %}
            {% for message in messages %}
                toastr["{{ message.tags }}"]("{{ message }}")
            {% endfor %}
        {% endif %}
    </script>
{% endblock javascripts %}
