{% extends "layouts/base.html" %}
{% load static %}
{% block title %}
{{ collection.name }}
{% endblock title %}
{% block stylesheets %}
{{ block.super }}
<link href="{% static 'css/project.css' %}" rel="stylesheet">
{% endblock stylesheets %}

{% block content %}
<br>
<h1 class="pageTitle">SDE Dashboard</h1>


{% endblock content %}
{% block javascripts %}
<script src="{% static 'js/collection_detail.js' %}"></script>
<script src="{% static 'js/core/bootstrap.min.js' %}"></script>
{% endblock javascripts %}