<footer class="footer">
  <div class="container-fluid footer-container">
    <!-- <nav class="float-left">
      <ul>
        <li>
          <a rel="noopener noreferrer" class="footer-left-side-link" href="#"></a>
        </li>
      </ul>
    </nav> -->
    <div class="footer-left-side-link"></div>
    <div class="footer-right-side-links">
    <div class="footer-nasa-link">NASA</div>
    <div class="footer-copyright-link" >
      <span class="urlStyle">&copy;</span> <a target="_blank"
    rel="noopener noreferrer"
    href="https://www.earthdata.nasa.gov/esds/impact">About NASA-IMPACT</a>
    </div>
    <div class="footer-contact-us-link">Contact Us</div>
  </div>
  </div>
</footer>
