<footer class="footer">
  <div class="container-fluid footer-container">
    <!-- <nav class="float-left">
      <ul>
        <li>
          <a rel="noopener noreferrer" class="footer-left-side-link" href="#"></a>
        </li>
      </ul>
    </nav> -->
    <a class="footer-left-side-link" href="https://www.nasa.gov" target="_blank" ></a>
    <div class="footer-right-side-links">
    <a href="https://www.nasa.gov" target="_blank" class="footer-nasa-link">NASA</a>
    <div class="footer-copyright-link" >
      <span>&copy;</span> <a target="_blank"
    rel="noopener noreferrer"
    href="https://www.earthdata.nasa.gov/esds/impact">About NASA IMPACT</a>
    </div>
    <a href="mailto:aa0132@uah.edu" class="footer-contact-us-link">Contact Us</a>
  </div>
  </div>
</footer>
