.dataTables_scrollHead,
.dataTables_scrollBody {
    overflow: visible !important;
}

.dataTables_wrapper .dataTables_paginate .paginate_button:hover {
    background: none;
    border: none;
}

.dataTables_wrapper .dataTables_paginate .paginate_button {
    padding: 0em;
}

.dataTables_wrapper .dataTables_paginate .paginate_button {
    padding: .5em;
}

.paginate_input {
    width: 15%;
}

.table_filter_row_input {
    width: 100%;
}

.candidateUrlContainer {
    background: #15232E;
    padding: 40px 30px;
    border-radius: 15px;
}

.table tbody tr:nth-child(odd) {
    background-color: #050E19 !important;
}

.table tbody tr:nth-child(even) {
    background-color: #3F4A58 !important;
}

.candidateTitle {
    font-size: 24px;
    font-weight: 500;
}

.custom-select,
.buttons-csv,
.customizeColumns,
.addPattern {
    border-style: solid !important;
    border-color: #A7BACD !important;
    border-width: 1px !important;
    color: #A7BACD !important;
    border-radius: 5px !important;
    padding: 11px 15px;
}

.customizeColumns {
    margin-left: 10px !important;
}

.form-control:read-only {
    background-image: none;
}

.dt-container div.dt-length label {
    display: none;
}

div.dt-container div.dt-info {
    padding-top: 0;
    white-space: normal;
}

.page-link {
    color: white !important;
    border: 0.5px solid !important;
    margin-left: 3px;
    margin-right: 3px;
}

.page-link:hover {
    background-color: #0066CA !important;
}

.page-item.disabled .page-link {
    color: grey !important;
}

.dt-paging-input {
    color: white;
}

.dt-paging-input input {
    background-color: #3F4A58;
    color: white;
    border: solid 0.5px !important;
}

.dt-inputpaging {
    position: absolute;
    right: 16px;
    top: -27px;
}

.ml-auto {
    width: 50%;
}

.custom-select-sm {
    margin-left: 5px;
}

.selected {
    background-color: inherit !important;
}

.headerDiv {
    display: flex;
    justify-content: space-between;
}

.url-cell {
    display: flex;
    align-items: center;
    justify-content: space-between;
    word-wrap: break-word;
    word-break: break-all;
    white-space: normal;
    overflow-wrap: break-word;
    min-width: 100%;
    max-width: 100%;
}

.url-icon {
    color: #65B1EF;
}

/* pagination position */
div.dt-container div.dt-paging ul.pagination {
    position: absolute;
    right: 60px;
}

/* Dark theme adjustments later added */
body {
    background-color: #2c2c2c;
    color: #f5f5f5;
}

.pageTitle {
    color: #f5f5f5;
}

.table {
    background-color: #1e1e1e;
    color: #f5f5f5;
}

.table thead th {
    background-color: #444;
    color: #f5f5f5;
}

.table tbody tr:hover {
    background-color: #333;
}

.table tbody tr td a {
    color: #61dafb;
    /* URL links */
}

.table tbody tr td a:hover {
    color: #f5f5f5;
    /* Hover effect for links */
}
