#top_pattern_bar {
    position: sticky;
    top: 0
}

.done_color {
    color: green;
}

.close_color {
    color: red;
}

#test_url {
    text-decoration: underline;
    text-decoration-style: dotted;
    text-decoration-line: underline;
    text-decoration-thickness: 1px;
}

.dataTables_scrollHead, .dataTables_scrollBody {
    overflow: visible !important;
}


.dataTables_wrapper .dataTables_paginate .paginate_button:hover {
    background: none;
    border: none;
}

.dataTables_wrapper .dataTables_paginate .paginate_button {
    padding: 0em;
}

.custom-menu {
    display: none;
    z-index: 1000;
    position: absolute;
    overflow: hidden;
    border: 1px solid #CCC;
    white-space: nowrap;
    font-family: sans-serif;
    background: #FFF;
    color: #333;
    border-radius: 5px;
}

.custom-menu li {
    padding: 8px 12px;
    cursor: pointer;
}

.custom-menu li:hover {
    background-color: #DEF;
}

.pattern_type {
    /* padding-top: 10px;
    padding-bottom: 10px; */
}

.dataTables_wrapper .dataTables_paginate .paginate_button {
    padding: .5em;
}

.paginate_input {
    width: 15%;
}

.exclude_individual_url {
    cursor: pointer
}

.document_type_form_select {
    cursor: pointer
}

.table_filter_row_input{
    width: 100%;
}
.tab-nav {
    color: black;
    padding-right: 25px;
    padding-left: 25px;
    font-weight: 500;
}

/* tab headers hover effect */
.tab-nav:hover {
    text-decoration: underline;
    color: #0066CA; 
}

/* alligning tab container with the table  */
.nav-tabs {
    padding-left: 0px;
}

/* active tab  */
.nav-item > .active {
    color: #0066CA;
    font-weight: 700;
    border-bottom: 2px solid #FF3D57;
    padding-bottom: 30px;
}

/* line under the tab options */
div > .nav {
    padding-bottom: 30px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}

/* badge showing workflow status by header */
.badge {
    cursor: default !important;
    margin-left: 15px;
}