#top_pattern_bar {
    position: sticky;
    top: 0
}

.done_color {
    color: green;
}

.close_color {
    color: red;
}

#test_url {
    text-decoration: underline;
    text-decoration-style: dotted;
    text-decoration-line: underline;
    text-decoration-thickness: 1px;
}

.dataTables_scrollHead, .dataTables_scrollBody {
    overflow: visible !important;
}


.dataTables_wrapper .dataTables_paginate .paginate_button:hover {
    background: none;
    border: none;
}

.dataTables_wrapper .dataTables_paginate .paginate_button {
    padding: 0em;
}

.custom-menu {
    display: none;
    z-index: 1000;
    position: absolute;
    overflow: hidden;
    border: 1px solid #CCC;
    white-space: nowrap;
    font-family: sans-serif;
    background: #FFF;
    color: #333;
    border-radius: 5px;
}

.custom-menu li {
    padding: 8px 12px;
    cursor: pointer;
}

.custom-menu li:hover {
    background-color: #DEF;
}

.pattern_type {
    /* padding-top: 10px;
    padding-bottom: 10px; */
}

.dataTables_wrapper .dataTables_paginate .paginate_button {
    padding: .5em;
}

.paginate_input {
    width: 15%;
}

.exclude_individual_url {
    cursor: pointer
}

.document_type_form_select {
    cursor: pointer
}

/* nav tab headers, renamed to prevent material dashboard css conflict */
.tab-nav {
    color: black;
    padding-right: 50px;
    font-weight: 500
}

.tab-nav:hover {
    text-decoration: underline;
    color: #0066CA; 
}

.nav-tabs {
    padding-left: 0px;
}

.nav-item > .active {
    color: #0066CA;
    font-weight: 700;
}

