#id_github_issue_link {
    width: 50%;
}

#github-link-error{
    color: #f44336;
}
#github-link-error > ul{
    list-style-type: none;
}
#comment-form-container textarea.form-control {
    height: 100px;
    width: 50%;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 4px;
}
#comment-form-container button.btn-primary {
    margin-top: -3;
}
.comment {
    background-color: #f8f9fa;
    border: 1px solid #ddd;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
}
.comment strong {
    color: #007bff;
}
.comment span {
    color: #6c6840;
    font-size: 0.9em;
    margin-bottom: 10px;
}
.comment p {
    margin-top: 5px;
}

/* nav tab headers, renamed to prevent material dashboard css conflict */
.tab-nav {
    color: black;
    padding-right: 25px;
    padding-left: 25px;
    font-weight: 500;
}

/* tab headers hover effect */
.tab-nav:hover {
    text-decoration: underline;
    color: #0066CA; 
}

/* alligning tab container with the table  */
.nav-tabs {
    padding-left: 0px;
}

/* active tab  */
.nav-item > .active {
    color: #0066CA;
    font-weight: 700;
    border-bottom: 2px solid #FF3D57;
    padding-bottom: 30px;
}

/* line under the tab options */
div > .nav {
    padding-bottom: 30px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}

/* badge container to fix size of div and prevent hugging single line titles */
.badge-container {
    height: 1.6rem;
    margin-left: 15px;
}

.badge {
    cursor: default !important;
}

.titleCol {
    display: flex;
}

.select_menu{
    font-size: 12px;
    outline: none;
    border: thin #ddd solid;
    background-color: #F7F7F7;
  }

  .divisionDropdown:after{
    content: '';
    border: 4px solid transparent;
    border-top: 4px solid white;
    margin-left: 2px;
    margin-bottom: 3px;
    display: inline-block;
    vertical-align: bottom;
}

.divisionDropdown {
    appearance: auto !important;
  }