#collection_table_filter>label>span>input {
    float: right;
    margin-bottom: 10px;
    color: red;
}

body {
    background-color: #f5f5f5;
}

.curation_status_select {
    cursor: pointer !important;
}

.workflow_status_select {
    cursor: pointer !important;
}

.curator_select {
    cursor: pointer !important;
}

.table_filter_row_input, .dropdown-toggle{
    width: 100%;
}

.dtsp-nameButton{
    opacity:0.6;
    background-color: transparent;
    border:none !important;
    box-shadow: none;
}

.dtsp-countButton{
    opacity:0.6;
    background-color: transparent;
    border:none !important;
    box-shadow: none;
}

.dtsp-collapseButton{
    opacity:0.6;
    background-color: transparent;
    border:none !important;
    box-shadow: none;
}

.clearButton{
    opacity:0.6;
    background-color: transparent;
    border:none !important;
    box-shadow: none;
}

.dtsp-searchIcon{
    opacity:0.6;
    background-color: transparent;
    border:none !important;
    box-shadow: none;
}

.dtsp-caret{
    color: #3C4858;
}

.main-panel > .content{
    padding:0px;
}
.workflow_status_dropdown {
    display: flex;
    justify-content: center;
}

.select-dropdown {
    text-align: center;
    width: 100% !important;
    color: #333333;;
    background-color: #fafafa;
    border-radius: 0.2rem;
    border-color:  #fafafa;
    font-size: 0.6875rem;
    box-shadow: 0 2px 2px 0 rgba(153, 153, 153, 0.14), 0 3px 1px -2px rgba(153, 153, 153, 0.2), 0 1px 5px 0 rgba(153, 153, 153, 0.12);  }
  
  .select-dropdown:hover {
    box-shadow: 0 14px 26px -12px rgba(250, 250, 250, 0.42), 0 4px 23px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(250, 250, 250, 0.2);
  }
  
  .select-dropdown:focus,
  .select-dropdown.focus {
    box-shadow: none, 0 0 0 0.2rem rgba(76, 175, 80, 0.5);
  }

  .hideDisplay{
    display:none;
  }

  .title {
font-size: 56px;
font-weight: 400;
line-height: 84px;
letter-spacing: -0.03em;
text-align: left;
color: rgba(255, 255, 255, 1);
margin-bottom: 0 !important;
  }

  .tableHeader{
    background-color:#15232E !important;
  }

  .dt-column-title{
    font-weight:600;
    font-size:16px;
  }



  .candidateCount{
    background-color:#A7BACD !important;
    color:#1F2935 !important;
  }